body {
  display: grid;
}

#title {
  grid-area: title;
}

#menu {
  grid-area: menu;
}

.top {
  grid-area: top;
}

#topLeft {
  grid-area: topLeft;
}

#topRight {
  grid-area: topRight
}

.subContent {
  grid-area: subContent;
}

#sub1 {
  grid-area: sub1;
}

#sub2 {
  grid-area: sub2;
}

#sub3 {
  grid-area: sub3;
}

#sub4 {
  grid-area: sub4;
}

#footer {
  grid-area: footer;
}


/* mobile */
@media (max-width: 320px) {
  body {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 7% 14% 12% 12% 24% 24% 7%;
    grid-template-areas: "title title"
                         "menu menu"
                         "topLeft"
                         "topRight"
                         "sub1 sub2"
                         "sub3 sub4"
                         "footer"
  }
}

/* tablet */
@media (min-width: 321px) and (max-width: 767px) {
  body {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 14% 28% 36% 21%;
  }
}

/* desktop */
@media (min-width: 768px) {
  body {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 14% 28% 36% 21%;
  }
}